@import '../variables.scss';

.nearbyRestaurantsContainer {
  letter-spacing: 0.1px;
  margin-bottom: 15px;
  .headingWrapper {
    display: flex;
    align-items: center;
    h5 {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: $black;
      margin: 0 0 16px 0;
    }

    .addProduct {
      cursor: pointer;
      margin: 0 0 16px 20px;
      color: $black;

      &:hover {
        color: $primaryBGColor;
      }
    }
  }

  .restaurantsContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;

    .cardContainer {
      background-color: $white;
      border: solid 1px $grayLightest;
      border-radius: 16px;
      overflow: hidden;

      &_imgWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 100%;
        }

        .editAndDelete {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 10px;
          right: 10px;

          .edit {
            margin-bottom: 10px;
          }

          .edit, .delete {
            cursor: pointer;
            background-color: $defaultBGColor;
            padding: 1px;
            border-radius: 5px;
            &:hover {
              color: $primaryBGColor;
            }
          }
        }
      }

      &_infoWrapper {
        padding: 16px;

        .nameAndAction {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 6px;
          h6 {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: $black;
            margin: 0;
          }

          .addWrapper {
            display: grid;
            grid-template-columns: 70% 30%;

            &_quantity {
              margin-right: 14px;
            }

            &_quantity, &_addBtn {
              font-family: $defaultFont;
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.3px;
              border-radius: 5px;
              padding: 10px;
            }

            // &_addBtn {
            //   border-radius: 5px;
            //   padding: 10px;
            // }
          }
          
          span {
            position: relative;
            cursor: pointer;

            .totalOrderWrapper {
              display: flex;
              justify-content: center;
              position: absolute;
              top: -10px;
              right: -10px;
              background-color: $primaryBGColor;
              border-radius: 8px;
              padding: 2px 6px;
              span {
                font-weight: 700;
                font-size: 10px;
                line-height: 14px;
                text-align: center;
                color: $white;
              }
            }
          }
        }

        .additionalInfo {
          display: flex;
          align-items: center;
          margin-bottom: 18px;

          .duration, .price {
            display: flex;
            align-items: center;
            color: $grayLight;

            p {
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              margin: 0 7px;
              color: $gray;
            }
          }
        }

        .categoriesChipWrapper {
          display: flex;
          align-items: center;

          span {
            background-color: $grayLightest;
            border-radius: 100px;
            padding: 4px 10px;

            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: $grayDark;
          }
        }
      }
    }
  }
}

.close {
  float: right;
}

@media only screen and (min-width: $break_size_m) {
  .nearbyRestaurantsContainer {
    margin-bottom: 50px;
    .restaurantsContainer {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 20px;
    }
  }
}