@import '../variables.scss';

.adContainer {
  padding: 48px;

  .cardWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 27px;
    row-gap: 27px;

    &_rating, &_productInfo_one, &_productInfo_two {
      background-color: $white;
      border: 0.894286px solid $grayLightest;
      border-radius: 14.3086px;
    }

    &_rating {
      height: 450px;
      &_header {
        padding: 14px;
        h6 {
          font-weight: 700;
          font-size: 11.6257px;
          line-height: 16px;
          letter-spacing: 0.0894286px;
          color: $black;
        }
  
        span {
          display: flex;
          align-items: center;
  
          .rate {
            color: $primaryColor;
            font-weight: 600;
            font-size: 17.8857px;
            line-height: 25px;
            letter-spacing: 0.0894286px;
            margin-right: 11px;
          }
  
          .stars {
            display: flex;
            align-items: center;
          }
  
          .numVote {
            color: $gray;
            font-weight: 700;
            font-size: 10px;
            line-height: 14px;
            margin-right: 20px;
          }
  
          button {
            background-color: transparent;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.3px;
            border-radius: 8px;
            padding: 12px 18px;
            color: $primaryColor;
            border: solid 1px $primaryColor;
            margin: -15px 5px 0 auto;
          }
        }
      }

      &_body {
        display: flex;
        justify-content: center;
        border-top: solid 1px $grayLightest;
        padding: 10px;

        select {
          border: solid 1px $grayLight;
          border-radius: 8px;
          padding: 7px;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: $black;
          appearance: none;
        
        }
      }
    }

    &_productInfo_one {
      height: 279px;
    }

    &_productInfo_two {
      height: 132px;
      grid-column: 1/span 2;
    }
  }
}