@import "../variables.scss";

.navContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
  padding: 0;
  list-style-type: none;

  .searchContainer {
    display: none;
  }

  .menuContainer {
    display: none;
  }

  .settingsContainer {
    margin-right: 36px;
  }

  .burgerMenu {
    cursor: pointer;
    padding: 18px 0;

    div {
      color: $gray;
    }
  }
}

@media only screen and (min-width: $break_size_m) {

  .navContainer {
    .searchContainer {
      display: block;
      margin-right: auto;
    }

    .menuContainer {
      display: block;
    }

    .burgerMenu {
      display: none;
    }
  }

}