@import "../../variables.scss";

.grid {
  display: grid;
  grid-template-columns: 100%;

  .loginContainer {
    margin: 0 15px;
    letter-spacing: 0.1px;

    .loginHeader {
      margin: 120px 0 0 0;
      font-weight: 700;
      font-size: 60px;
      line-height: 82px;
      letter-spacing: 0.1px;
      color: $black;
    }

    .subLoginHeader {
      margin: 16px 0 0 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $grayDark;
    }

    .loginFields {
      margin: 32px 0 0 0;

      &_email,
      &_pass {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 28px;
        font-size: 12px;
        line-height: 16px;

        span {
          margin-bottom: 4px;
        }

        input {
          width: 100%;
          outline: none;
          border: solid 1px $grayLight;
          border-radius: 8px;
          padding: 12px;
        }

        a {
          cursor: pointer;
          position: absolute;
          bottom: 9px;
          right: 10px;
          span {
            position: relative;
            img:nth-child(2) {
              position: absolute;
              top: 0;
              left: 32%;
            }
          }
        }
      }

      &_pass {
        input {
          padding: 12px 42px 12px 12px;
        }
      }
    }

    .keepLogin {
      display: flex;
      align-items: center;
      margin: 0;

      input {
        cursor: pointer;
        margin-right: 12px;
      }

      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $black;
      }
    }

    .btnLinkWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px 0 0 0;

      span {
        width: 100%;
        button {
          cursor: pointer;
          font-family: $defaultFont;
          background-color: $primaryColor;
          color: $white;
          width: 100%;
          padding: 12px 16px;
          box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
          border-radius: 8px;
          border: none;
          margin-bottom: 28px;
        }
      }

      .btnDisable {
        cursor: not-allowed;
        button {
          pointer-events: none;
        }
      }

      a {
        cursor: pointer;
        color: $primaryColor;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.3px;
      }

      &_signUp {
        margin: 134px 0 32px 0;
        color: $grayDark;

        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.1px;
        }
      }
    }
  }

  .carouselContainer {
    display: none;
    background-color: $primaryColor;
    [class^="slick-slider"] {
      width: 100%;
    }
  }

}

@media only screen and (min-width: $break_size_m) {
  .grid {
    height: 100vh;
    grid-template-columns: 48% 52%;
    .loginContainer {
      margin: 0 125px;
    }

    .carouselContainer {
      display: flex;
      flex-direction: column;
      color: $white;
      font-family: $defaultFont;
    }

  }
}

@media only screen and (min-width: $break_size_xl) {
  .grid {
    grid-template-columns: 40% 60%;
    .loginContainer {
      margin: 0 160px;
    }
  }
}