@import "./variables.scss";

html,
body {
  background-color: $defaultBGColor !important;
  margin: 0;
  font-family: $defaultFont;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}