@import "./variables.scss";

.MainContainer {
  background-color: $defaultBGColor;
  margin: 0 15px;

  .navWrapper {
    margin-bottom: 40px;
  }

  .spinnerWrapper {
    display: flex;
    justify-content: center;
    padding: 50px 0;

    [class^="spinner-border"] {
      width: 10rem;
      height: 10rem;
    }
  }
}

.drawer {
height: 17vh;
}

@media only screen and (min-width: $break_size_m) {
  .MainContainer {
    margin: 0 150px;
  
    .navWrapper {
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: $break_size_xll) {
  .MainContainer {
    margin: 0 200px;
  }
}